extends layout 

block content 

  .section.container.register#form-register 
    form.form(method="POST", action="/api/user/register")
      h2.form__header Create Account 

      .form__row#register-row-username 
        label.form__row--label(for="register-username") Username
        input.form__row--input#register-username(type="text", maxLength="10", placeholder="Max 10 characters", name="username")
        p.form__row--error(style=errorType==="username" ? "display:block" : "display:none") *Username must not exceed 10 characters 

      .form__row#register-row-email
        label.form__row--label(for="register-email") Email
        input.form__row--input#register-email(type="email", placeholder="Enter your MOH email", name="email")
        p.form__row--error(style=errorType==="email" ? "display:block" : "display:none") *Invalid email address / Email address is taken

      .form__row#register-row-password
        label.form__row--label(for="register-password") Password
        input.form__row--input#register-password(type="password", placeholder="Min 6 characters", minLength="6",  name="password")
        p.form__row--error(style=errorType==="password" ? "display:block" : "display:none") *Password does not meet requirement

      .form__row#register-row-facility 
        label.form__row--label(for="register-facility") Facility
        - const facilities = ["PKD Tampin", "KK Tampin", "KK Gemas", "KK Gemencheh", "KK Jelai", "KK AKS", "KK BRU"]
        select.form__row--input#register-facility(name="facility")
          option(value="", disabled, selected) Select a facility
          each facility in facilities
            option(value=facility)= facility
        p.form__row--error(style=errorType==="facility" ? "display:block" : "display:none") *Please select a facility


      .form__row#register-row-admincode
        label.form__row--label(for="register-admincode") Admin Code
        input.form__row--input#register-admincode(
          type="number",
          placeholder="Enter Admin Code",
          min="0",
          name="admincode"
        )
        p.form__row--error(style=errorType==="admincode" ? "display:block" : "display:none") *Incorrect Admin Code


      .form__row 
        p.form__row--other Already have an account?
          span 
            a(href="/login") Login here

      button.form__submit#register-submit(type="submit") Register   

  //- script(src="/js/views/register.js") 